.list_movie{
    width: 50%;
    margin: 0 auto;
}
.session_nav{
    color: black;
    font-size: 24px;
    font-weight: 600;
}
.session_nav:hover {
    color: unset;
  }
.session_nav.active {
    color: #fa5238 !important;
    background-color: white !important;
    font-size: 24px;
    font-weight: 600;
  }
  .custom_session {
    justify-content: center;
  }