.branchItem{
    border:1px solid #ebebec;
    border-radius: unset!important;
    background-color: white;
    opacity: 0.5;
    transition: all 0.5s;
    padding:20px;
}
.branchItem>img:hover{
    opacity: 1;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: white!important;
    opacity: 1;
}
