.footerDashBoard{
    background-color: rgb(211, 211, 211)!important;
    padding:15px;
    color:black;
    -webkit-box-shadow: 0px -3px 8px 0px rgba(163,163,163,1);
    -moz-box-shadow: 0px -3px 8px 0px rgba(163,163,163,1);
    box-shadow: 0px -3px 8px 0px rgba(163,163,163,1);
    
}
.notification{
    z-index: 2;
    position: fixed;
    width: 100%;
}