.flex_wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single_chart {
  width: 100%;
  justify-content: space-around ;
}

.circular_chart {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 250px;
}

.circle_bg {
  fill: none;
  stroke: #3A3A3A;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.85;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular_chart.orange .circle {
  stroke: #ff9f00;
}

.circular_chart.green .circle {
  stroke: #7ED321;
}

.circular_chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #fff;
  font-family: sans-serif;
  font-size: 0.8em;
  text-anchor: middle;
}