.bgNav{
    background-color: #FD3550!important;
}

.az_sidebar_loggedin .az_img_user,.header_avatar {
    width: 36px;
    height: 36px;
}
.az_img_user {
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.az_img_user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border:1px solid #3bb001;
}

.az_img_user.online::after {
    background-color: #3bb001;
}
.az_img_user::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 6px;
    height: 6px;
    background-color: #3bb001;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.95);
    border-radius: 100%;
}